@page "/"

@inject HttpClient httpClient
@inject IMediator mediator
@inject NavigationManager navManager

<TrailSearch />
@if (trails is null)
{
    <div class="no-trails">
        <AuthorizeView>
            <Authorized>
                <NoTrails>
                    We currently don't have any trails, <a href="add-trail">why not add one?</a>
                </NoTrails>
            </Authorized>
            <NotAuthorized>
                <NoTrails>
                    Do you have an awesome trail you'd like to share? Please <a href="authentication/login">log in or sign up</a>.
                </NoTrails>
            </NotAuthorized>
        </AuthorizeView>
    </div>
}
else
{
    <TrailDetails trail="selectedTrail" />
    <AuthorizeView>
        <Authorized>
            <div class="mb-4">
                <p class="font-italic text-center">
                    Do you have an awesome trail you'd like to share? <a href="add-trail">Add it here</a>.
                </p>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="mb-4">
                <p class="font-italic text-center">
                    Do you have an awesome trail you'd like to share? Please <a href="authentication/login">log in or sign up</a>.
                </p>
            </div>
        </NotAuthorized>
    </AuthorizeView>

    <ViewSwitcher items="trails" Context="trail">

        <GridTemplate>
            <TrailCard trail="trail" OnSelected="HandleTrailSelected" />
        </GridTemplate>

        <TableHeader>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Length</th>
                    <th>Time</th>
                    <th></th>
                </tr>
            </thead>
        </TableHeader>

        <RowTemplate>
            @{
                var hours = trail.TimeInMinutes / 60;
                var remainedMinutes = trail.TimeInMinutes % 60;
            }
            <tr>
                <th scope="col">@trail.Name</th>
                <td>@trail.Location</td>
                <td>@(trail.Length) km</td>
                <td>@($"{hours} hours" + (remainedMinutes is not 0 ? $", {remainedMinutes} minutes" : ""))</td>
                <td class="text-right">
                    <FavoriteButton Trail="trail" />
                    <button @onclick="@(() => HandleTrailSelected(trail))" title="View" class="btn btn-primary">
                        <i class="fa fa-binoculars"></i>
                    </button>
                    <AuthorizeView>
                        @if (trail.Owner.Equals(context.User.Identity?.Name, StringComparison.OrdinalIgnoreCase) || context.User.IsInRole("Administrator"))
                        {
                            <button class="btn btn-outline-secondary float-right" title="Edit" @onclick="@(() => navManager.NavigateTo($"/edit-trail/{trail.Id}"))">
                                <i class="fa fa-pencil"></i>
                            </button>
                        }
                    </AuthorizeView>
                </td>
            </tr>
        </RowTemplate>

    </ViewSwitcher>
}

@code{
    private List<Trail>? trails;
    private Trail? selectedTrail;

    protected override async Task OnInitializedAsync()
    {
        var response = await mediator.Send(new GetTrailsRequest());
        if (response.trails.Any())
        {
            trails = response.trails.Select(x => new Trail
            {
                Id = x.Id,
                Name = x.Name,
                Image = x.Image,
                Description = x.Description,
                Location = x.Location,
                Length = x.Length,
                TimeInMinutes = x.TimeInMinutes,
                Owner = x.Owner,
                waypoints = x.Waypoints.Select(wp => new Waypoint { latitude = wp.Latitude, longitude = wp.Longitude }).ToList()
            }).ToList();
        }
    }

    private void HandleTrailSelected(Trail trail) =>
        selectedTrail = trail;
}
