<div class="card shadow" style="width: 18rem;">
    <img src="@trail.Image" class="card-img-top" alt="@trail.Name">
    <div class="card-body">
        <h5 class="card-title">@trail.Name</h5>
        <h6 class="card-subtitle mb-3 text-muted">
            <span class="oi oi-map-marker"></span>
            @trail.Location
        </h6>
        <div class="d-flex justify-content-between">
            @*<span>
                    <span class="oi oi-clock mr-2"></span>
                    @trail.TimeFormatted
                </span>*@
            <span>
                <span class="oi oi-infinity mr-2"></span>
                @trail.Length km
            </span>
        </div>
    </div>
    <div class="card-body">
        <button class="btn btn-primary" @onclick="@(async () => await OnSelected.InvokeAsync(trail))">
            View
        </button>
    </div>
</div>

@code{
    [Parameter, EditorRequired]
    public Trail trail { get; set; } = default!;

    [Parameter, EditorRequired]
    public EventCallback<Trail> OnSelected { get; set; }
}
